/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* background-color: #333; */
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    color: rgb(14, 13, 13);
}

/* Logo */
.navbar-logo {
    margin-left: 40px;
    position: relative;
    z-index: 200;
}

.navbar-logo h1 {
    margin: 0;
    font-size: 24px;
}

/* Menu Icon */
.menu-icon {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
}

.menu-icon div {
    width: 100%;
    height: 4px;
    background-color: #FF5B00;
    border-radius: 2px;
    transition: 0.4s;
}

/* Menu Icon Animation */
.menu-icon .bar1.open {
    transform: rotate(45deg) translate(5px, 12px);
}

.menu-icon .bar2.open {
    opacity: 0;
}

.menu-icon .bar3.open {
    transform: rotate(-45deg) translate(6px, -15px);
}

/* Navigation Links */
.navbar-links {
    position: fixed;
    top: 0;
    left: -220px;
    width: 200px;
    height: 100%;
    background-color: #5c7a64;
    color: white;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 500;
}

.navbar-links.show {
    left: 0;
}

.navbar-links ul {
    list-style: none;
    padding: 0;
}

.navbar-links ul li {
    padding: 10px;
    text-align: center;
}

.navbar-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-links ul li a:hover {
    color: #050505;
}

/* Right Side (Search, Profile, Favorites) */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container {
    position: relative; /* Contêiner para posicionar o ícone */
    
}
.search-bar {
    width: 450px;
    padding: 10px 40px 10px 15px; 
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f0f0f0;
}


.search-icon {
    position: absolute;
    right: 10px; /* Posiciona o ícone à direita do campo */
    top: 50%;
    transform: translateY(-50%); /* Centraliza o ícone verticalmente */
    pointer-events: none; /* Evita interferência do ícone no clique */
    font-size: 18px;
}

.search-bar:focus {
    border-color: #858585;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.icon-button-1 {
    background-color: #FF5B00;
    border: 2px solid;
    color: #ffffff;
    border-color:#FF5800 ;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 7px;

}
.icon-button-2 {
    background-color: #ffffff;
    border: 2px solid;
    color: #FF5B00;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 7px;
    width: 87px;
    height: 38px;

}
.icon-button-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid;
    color: #FF5B00;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 7px;
    width: 50px;
    height: 38px;

}

.icon-button-2 :hover {
    background-color: #ff2d2d;
}

.icon-button-3 svg {
    width: 24px;
    height: 24px;
    color: green;
    
}
